.form {
    width: 200px;
    margin: auto;
    padding-top: 50px;
}

.email, .password {
    width: 100%;
}

.buttondiv {
    justify-content: center;
    display: flex;
}

.registerDoctorButtonDiv {
    justify-content: center;
    display: flex;
    padding: 5px;
    padding-top:50px;
}

.registerPatientButtonDiv {
    justify-content: center;
    display: flex;
    padding: 5px;
}
